.container{
    background-color: rgb(47, 115, 192);
    width: 60%;
    height:auto;
    margin:auto;
}

.box{
    float:left;
    background-color: chocolate;
    width:30%;
    height:250px;
}

.floatimg{
    float:left;
    width:30%;
    
}
.p{
    background-color: cyan;
    width:30%;
    float:left;
}
.clear{
    clear:both;
}
